@model dynamic

@{
    ViewData["Title"] = "CTM - Сотрудники";
}
<h1>Users list</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                E-mail
            </th>
            <th>
                Qualifications
            </th>
            <th>
                Languages known
            </th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0;i<Model.Users.Count;i++)
            {
        <tr>
            <td>
                @Model.Users[i].Id
            </td>
            <td>
                @Model.Users[i].name
            </td>
            <td>
                @Model.Users[i].eMail
            </td>
            <td>
                @Model.Qualifications[i]
            </td>
            <td>
                @Model.Languages[i]
            </td>
        </tr>
            }
    </tbody>
</table>